.ChatMessage {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.user {
  text-align: right;
  /* background-color: #292929; */
}

.assistant {
  text-align: left;
  /* background-color: #fff; */
}
